MONGO_USER=
MONGO_PWD=
MONGO_HOST=
MONGO_DBNAME=
JWT_SECRET="your-secret-key"
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=your-email@example.com
SMTP_PASS=your-password
SMTP_SECURE=true-or-false
SMTP_FROM=noreply@example.com
CLIENT_URL=http://localhost:4021/